/* common shared styles */

body {
  padding: 0;
  margin: 0;
}
.banner {
  background-image: url("resources/banner.png");
  margin: 50px auto;
  background-repeat: no-repeat;
  height: 650px;
  width: 88%;
}

.banner-title {
  font-size: 32px;
  color: white;
  text-align: center;
  padding-top: 170px;
}
.banner-name {
  font-size: 72px;
  color: white;
  text-align: center;
  font-weight: 900;
}
/* new year section styles */
.new-year {
  text-align: center;
}
.discount {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.holiday-item {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
}
.catagories {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.new-year img{
    width: 50%;
}
