/* common shared styles */

body {
  padding: 0;
  margin: 0;
}
.banner {
  background-image: url("resources/banner.png");
  margin: 50px auto;
  background-repeat: no-repeat;
  height: 650px;
  width: 88%;
}

.banner-title {
  font-size: 32px;
  color: white;
  text-align: center;
  padding-top: 170px;
}
.banner-name {
  font-size: 72px;
  color: white;
  text-align: center;
  font-weight: 900;
}
/* new year section styles */
.new-year {
  text-align: center;
}
.discount {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.holiday-item {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
}
.catagories {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.new-year img {
  width: 50%;
}

/* Welcome part section styles */
.welcome-banner {
  background-image: url("resources/Vectorrr.png");
  background-repeat: no-repeat;
  margin: 120px auto;
  width: 88%;
  height: 650px;
}
.welcome-banner h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  padding: 130px 0px 0px 130px;
}
.welcome-banner p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  padding-left: 130px;
  width: 53%;
}
.join-now {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  margin-left: 135px;
  margin-top: 30px;
  padding: 5px;
}
.join-now:hover {
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 5px;
}
/* Booking details section styles */
.booking-details {
  text-align: center;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 88%;
  margin: 0 auto;
  height: 480px;
}
.booking-details h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 36px;
}
.place {
  padding-top: 100px;
}
.booking-name {
  color: #f00;
}
.booking-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f00;

  padding: 16px 32px;
  border-radius: 5px;
}

/* Offer coming soon section styles */
.offer-container {
  display: flex;
  width: 88%;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  margin-bottom: 100px;
}
.offer {
  width: 33%;
}
.offer-1 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.best-offer {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.coming-soon {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.offer-2 img {
  border: 15px solid red;
  border-radius: 50%;
  padding: 30px;
}
.year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.year-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  padding-right: 50px;
}

/* Holiday sale section styles */
.holiday {
  align-items: center;
  text-align: center;
}
.holiday-upper-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.holiday-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 0;
}
.holiday-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  margin: 0 auto;
  line-height: 32px;
}

/* discount banner styles */
.discount-banner-container {
  background-image: url("resources/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  width: 88%;
  margin: 50px auto;
}

.item-container {
  display: flex;
}
.discount-fifty {
  position: absolute;
  right: 500px;
}

/* Awesome porfolio section styles */
.portfolio-container {
  width: 88%;
  margin: 50px auto;
}
.product-container {
}
.product {
  padding: 10px;
}

/* subscribe banner */
.subscribe-container {
  text-align: center;
  align-items: center;
  background: rgba(255, 0, 0, 0.05);
  width: 88%;
  margin: 50px auto;
}
.subscribe-container img {
  margin-top: 100px;
}
.subscribe-container h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.subscribe-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
}
.input-container {
  width: 40%;
  margin: 30px auto;
  display: flex;
}
.input-container input {
  padding: 20px 30px;
  margin-bottom: 70px;
  border: none;
}
.input-container input[type="email"] {
  width: 70%;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  background-color: white;

  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
}
.input-container input[type="submit"] {
  width: 30%;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #f00;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.input-container input[type="submit"]:hover {
    background-color: rgb(255, 0, 106);
}
